<article>
	<section id="main">
		<p>
			This type of attitude was representative of the small firms, the larger more export oriented enterprises were more target oriented and ambitious. In terms of products however, none of them are innovative. They mainly manufacture re-production furniture and some are even only involved in the assembly of imported flat pack furniture. In terms of skills these are not formally qualified owners – most began in the industry as an apprentice in another firm and worked their way up to where they are now.
		</p>
		<p>
			The owners of eight firms did their apprenticeship in Coyles before establishing their own firms and a further seven firms are indirectly related in that their founders worked in firms owned by those who had originally done their apprenticeship in Coyles (see Figure 2). This leads to a particular type of relationship between the owners, not only are they often neighbours but they may also have worked together for many years. Another example of this is one owner of a firm who said that when he worked for his previous employer there were 16 employees in total, now 14 of them had their own businesses in the area. A social network of owners of furniture firms was thus created that promotes and encourages. 
		</p>
	</section>
	
	<section id="sidebar">
		<p>
			For a number of reasons we believe we can conclude that the success of the industrial district presented in this paper can be best explained using the interpreneurship concept developed earlier. First, the relationship between the firms and the environment that furniture firms was thus created that promotes and encourages.
		</p>
	</section>

</article>
